<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<property name="LOGS_HOME" value="./logs" />
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<!-- Logging configuration -->
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<logger name="org.springframework" level="INFO" additivity="true" />
	
	<logger name="be.lindacare.currency.market.aphonso" level="INFO" additivity="true" />
	
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
	
</configuration>