<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">	
	<!--/* Meta Configurations */-->
	<meta charset="utf-8" />		
<!-- 	<meta id="_csrf_token" name="_csrf_token" th:content="${_csrf.token}"/> -->
<!-- 	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<title>Linda Care</title>
	
	<!--/* CSS Files */-->
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" />
	<!--/* Bootstrap resource override, to update the main.css you need first to version the resources */-->
	<link rel="stylesheet" th:href="@{/resources/css/main.css}" />

	<!--/* JS Libs */-->
	<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/dist/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</head>
<body> 	
</body>
</html>