h1{
	color: blue;
}

h2{
	color: red;
}


html{
	height: 100%;
	weight: 100%;
}

body{
	height: 100%;
	weight: 100%;
}


/* Fix column border and padding empty space */
#column-body-content{
	border: 0px;
	padding: 0px;	
}